* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    font-family: 'LXGW WenKai Screen', -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp',
    sans-serif;
    font-size: 18px;
    color: #262626;
    scroll-behavior: smooth;

}

main {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px 12px;
    transition: all 0.6s linear;
}

.show {
    opacity: 1;
    z-index: 10;
    transition-delay: 0.6s;
}

.hide {
    opacity: 0;
    z-index: 9;
}

/*********** section one ****************/


#one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 100px;
    border-radius: 50%;
}

textarea {
    position: relative;
    margin-top: 20px;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    line-height: 20px;
    border: 1px solid rgba(255, 79, 126, 0.5);
    vertical-align: bottom;
    width: 100%;
    outline: none;
    cursor: text;
    letter-spacing: 2px;
    transition: 0.4s;
}

textarea:hover {
    border: 1px solid #ff79c6;
}

button {
    position: relative;
    margin: 20px 5px 0;
    outline: none;
    border: none;
    padding: 12px 32px;
    border-radius: 6px;
    background-color: #ff79c6;
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 2px 25px rgba(255, 79, 126, 0.5);
    transition: transform ease-in 0.1s, background-color ease-in 0.1s, box-shadow ease-in 0.25s;
}

button::before {
    position: absolute;
    content: '';
    left: -2em;
    right: -2em;
    top: -2em;
    bottom: -2em;
    pointer-events: none;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
        /*  */
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%),
    radial-gradient(circle, #ff79c6 20%, transparent 20%);
    background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%, 100% -2%, -5% 80%,
    100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%, 100% 100%;
    background-size: 0% 0%;
    transition: background-position .5s ease-in-out, background-size .75s ease-in-out;
}
button:active::before {
    transition:0s;
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%,
    15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%,
    83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
}


/*********** section two ****************/

#two {

}

#container {
    position: absolute;
    height: 100%;
    overflow: auto;
}

.bts {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    list-style-type: none;
    z-index: 100;
}

.bts li {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 79, 126, 0.5);
    color: #fff;
    font-size: 12px;
    margin: 6px 0;
    cursor: pointer;
    transition: all 0.4s linear;
}

.bts li:hover {
    background-color: #ff79c6;
}

p {
    text-indent: 2em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    text-align: left;
}